@import "partials/mixins";
@import "partials/variables";


:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body, h1, th, td {

  font-family: $family;
  font-weight: $weight;
  color:black;
}

td .btn.btn-danger {
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.modal-header, .modal-footer {
  border:none;
}

.close {
  @include btnHover;
  }

.btn {
  font-weight: $weight;
  @include btnHover;
}


@media (min-width: 1440px) {

  .container {

    max-width: 1400px;
  }

}




body {
 @include bodyBg;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

  .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-body {
    padding: 2rem;
  }

}



.form-signin {
  width: 100%;

  .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 0.75rem 1rem;
    transition: all 0.2s;
    color: #495057;
    font-size: 18px;
    font-weight: 400;
  }

}



.form-label-group {
  position: relative;
  margin-bottom: 1rem;

  input {
    border-radius: 2rem;
  }

  > input, > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: 50px;
  }

  >label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  input::-webkit-input-placeholder, input:-ms-input-placeholder, input::-ms-input-placeholder, input::-moz-placeholder, input::placeholder  {
    color: transparent;
  }

  input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
}


a {
  color:black;

  &:hover {
    color:rgba(0,0,0,0.6);
    text-decoration: none;
  }
}


.noitigrammi {
  color: $noitiColor;
  font-weight: bolder;
  font-size:20px;
}

.logo {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
