@import "variables";

@mixin btnHover {

  &:focus, &:visited, &:active {
    outline: none;
    box-shadow: none;

  }
}

@mixin bodyBg {
  background: #9CECFB;
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
}